p, h1, h2, h3, h4, h5 { margin: 0 0 1em 0; line-height: 1.6em;}

body, input,textarea,select, .normal
{ font-family: "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif; font-size: 14pt;  font-weight: normal;}

p.error
{
    color: red;
}

p.success
{
    color: green;
}

table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}