	<html>
	<head>
	<title> <TMPL_VAR NAME="user">'s DocBox </title>
	<link href="../css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body align="center" bgcolor="orange"> 
<h2 align="center"> <a href="home.pl.cgi?uid=<TMPL_VAR NAME="userid">"> <TMPL_VAR NAME="user">'s DocBox </a> </h2>
	<p>
    <strong> File to be edited : </strong><TMPL_VAR NAME="filename">
    </p>
    <TMPL_IF NAME="badinput"> <!-- if user enters input in both rename and copy file fields-->
        <p> <font color=red> <strong> Warning, you can only perform one operation at a time. Please only enter text into one of the fields and try again. </strong> </font></p>
    </TMPL_IF>
    
    <p> Please be aware that the copy operation takes a little while to complete, so please be patient ! </p>
    <p>Please choose an Action that you would like to perform below : </p>
        
        <form action="editfile.pl.cgi" method="post">
        <p> <img alt="Rename File" title="Rename File" height="25" src="images/rename.png" width="25" align="middle">
        <strong>Rename File to:  </strong><input type="textarea" name="renamedfile"> &nbsp; <input type="submit" value="Rename"> </p>
        <p> <img alt="Copy File" title="Copy File" height="26" src="images/copy.png" width="26" align="middle">
        <strong>Copy File As: </strong> <input type="textarea" name="copyfilename"> &nbsp; <input type="submit" value="Copy"> </p>
       
        <!-- Hidden form field that contains the user ID and filename for maintaining user state-->
        <input type="hidden" name="uid" value="<TMPL_VAR NAME="userid">">
        <input type="hidden" name="filename" value="<TMPL_VAR NAME="filename">">
        <input type="hidden" name="prevlink" value="<TMPL_VAR NAME="prevlink">" > 
        <input type="hidden" name="fid" value="<TMPL_VAR NAME="fid">" > 
        <input type="hidden" name="dir" value="<TMPL_VAR NAME="dir">" > 
        </form> 
        
        <form action="editfile.pl.cgi" method="post"> <!-- put delete op in its form so that copying/rename can't accidentally delete files-->
        <!-- Hidden form field that contains the user ID and filename for maintaining user state-->
        <input type="hidden" name="uid" value="<TMPL_VAR NAME="userid">">
        <input type="hidden" name="filename" value="<TMPL_VAR NAME="filename">">
        <input type="hidden" name="prevlink" value="<TMPL_VAR NAME="prevlink">" > 
        <input type="hidden" name="fid" value="<TMPL_VAR NAME="fid">" > 
        <input type="hidden" name="dir" value="<TMPL_VAR NAME="dir">" > 
        
        <p> <img alt="Delete File" title="Delete File" height="25" src="images/delete.png" width="25" align="middle">
        <strong>Delete File: </strong>  
                <select name=delete>
                <option>No</option>
                <option>Yes</option>
                </select>
            <input type="submit" value="Permanently Delete File"> </p>
        </form>
        
        <form action="editfile.pl.cgi" method="post"> <!-- put make file public op in its form so that copying/rename/deleting can't accidentally make file public -->
        <!-- Hidden form field that contains the user ID and filename for maintaining user state-->
        <input type="hidden" name="uid" value="<TMPL_VAR NAME="userid">">
        <input type="hidden" name="filename" value="<TMPL_VAR NAME="filename">">
        <input type="hidden" name="prevlink" value="<TMPL_VAR NAME="prevlink">" > 
        <input type="hidden" name="fid" value="<TMPL_VAR NAME="fid">" > 
        <input type="hidden" name="dir" value="<TMPL_VAR NAME="dir">" > 
        
         <p> <img alt="Make File Public" title="Make File Public" height="30" src="images/public.png" width="30" align="middle">
        <strong>Make Public: </strong>  
                <select name=delete>
                <option>No</option>
                <option>Yes</option>
                </select>
            <input type="submit" value="Make File Public"> </p>
        </form>
        
        <br>
        <p><img alt="File Statistics" title="View Statistics on This File" height="30" src="images/stat.png" width="30" align="middle"><a href=stats.pl.cgi?uid=<TMPL_VAR NAME="userid">&fid=<TMPL_VAR NAME="fid">> <strong>View File Statistics </strong> </a> </p>
         <p> <a href="<TMPL_VAR NAME="prevlink">"> <big>Return to Directory Listing </big></p> </a> <!-- Return to previous referrer page-->
       
    
	
    

	<br>
	<footer><p align="center">Docbox &copy 2011. All Rights Reserved.  </p></footer>
	 </body></html>