	<html>
	<head>
	<title> <TMPL_VAR NAME="user">'s DocBox </title>
	<link href="../css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body align="center" bgcolor="orange"> 
<h2 align="center"> <a href="home.pl.cgi?uid=<TMPL_VAR NAME="userid">"<TMPL_VAR NAME="userid">"> <TMPL_VAR NAME="user">'s DocBox </a></h2>
	<form action="group.pl.cgi?uid=<TMPL_VAR NAME="userid">" method="post">
    
    
    <!--Post a Hidden Value to indicate that we're visiting "group file operation page" for the First page -->
     <input type="hidden" name="firstvisit" value="1"> 
    
    <p align="center"><a href=upload_page.pl.cgi?uid=<TMPL_VAR NAME="userid">> Upload a New File to DocBox</a> |
    <a href="public.pl.cgi?uid=<TMPL_VAR NAME="userid">"> View Public Files </a>|
    
    <a href="search.pl.cgi?uid=<TMPL_VAR NAME="userid">"> Search Files </a>|
    
    <input type="submit" value="Group Selected Files">  |
    <!-- Disable search box
    --<strong>Search Files : </strong><input type="textarea" name="search"> 
    <input type="submit" value="Group Selected Files">  |  -->
    <a href="index.html"> Logout </a>
    
    
    </p>
    
	<table border="0" align="center" cellpadding="2" cellspacing="4">
  <tr>
    <th>File Name</th>
    <th>Date Modified</th>
    <th>File Size (KB)</th>
    <th>Public </th>
    <th> Link(s) </th>
  </tr>
 
 
 
<!--Show Move Up One level-->
 <TMPL_IF NAME="parentlevel">
        <td> <img src="images/up.png" height="24" width="24" title="Go Up One Level"/> <a href="<TMPL_VAR NAME="upquery">">Go to Home Directory</a>
        </td>
        <td> </td>
        <td></td>
        <td></td>
 </TMPL_IF>
 
<!-- Dir Loop only-->  
<TMPL_LOOP NAME="dir_loop">
    <tr >
        <td >  
        <!--<input type="checkbox" name="selectedfiles" value="<TMPL_VAR NAME="dirname">"> Don't Enable Directory Grouping-->
        <img alt="" height="28" src="images/dir.png" width="32" align="middle"> <a href="<TMPL_VAR NAME="querystring">"> <TMPL_VAR NAME="dirname"> </a> 
        </td>
        <td align="center">  <TMPL_VAR NAME="date">  </td> <!-- Date Modified -->
        <td align="center">  <TMPL_VAR NAME="size"> </td> <!-- File Size -->
        <td align="center">  ---- </td> <!--public?  --->
        <td align="left"> 
            <a href="<TMPL_VAR NAME="download_query">"> <img alt="Download Directory" title="Download <TMPL_VAR NAME="filename">" height="25" src="images/download.png" width="25" align="middle"> </a> <!-- Download Image icon -->
            
            
        </td>
    </tr>
</TMPL_LOOP>

 
 
  
<!-- File Loop only-->  
<TMPL_LOOP NAME="list_loop">
    <tr >
        <td > 
         <input type="checkbox" name="selectedfiles" value="<TMPL_VAR NAME="fid">">
        <img alt="" height="27" src="images/file.png" width="28" align="middle"> <a href="<TMPL_VAR NAME="querystring">"> <TMPL_VAR NAME="filename">  </a> </td>
        <td align="center">  <TMPL_VAR NAME="date">  </td> <!-- Date Modified -->
        <td align="center">  <TMPL_VAR NAME="size"> </td> <!-- File Size -->
        <td align="center">  <TMPL_VAR NAME="public"> </td> <!-- public -->
        <td align="left"> 
            <a href="<TMPL_VAR NAME="download_query">"> <img alt="Download File" title="Download <TMPL_VAR NAME="filename">" height="26" src="images/download.png" width="25" align="middle"> </a> <!-- Download Image icon -->
            
            
            <!-- Old Code: Shows image link to copy / rename operations. 
            <a href="<TMPL_VAR NAME="querystring">"> <img alt="Copy File" title="Copy File" height="26" src="images/copy.png" width="26" align="middle"> </a> 
            &nbsp;
            <a href="<TMPL_VAR NAME="querystring">"> <img alt="Rename File" title="Rename File" height="25" src="images/rename.png" width="25" align="middle"> </a> 
           
           -->
            
        </td>
    </tr>
</TMPL_LOOP>

</table>
</form>
	<br>
	<footer><p align="center">Docbox &copy 2011. All Rights Reserved.  </p></footer>
	 </body></html>