<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html>
	<head>
	<title> <TMPL_VAR NAME="user">'s DocBox </title>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body align="center" bgcolor="orange"> 
<h2 align="center"> <a href="home.pl.cgi?uid=<TMPL_VAR NAME="userid">"<TMPL_VAR NAME="userid">"> <TMPL_VAR NAME="user">'s DocBox </a></h2>
	<form action="search.pl.cgi" method="post">
    <p align="center"><a href=upload_page.pl.cgi?uid=<TMPL_VAR NAME="userid">> Upload a New File to DocBox</a> |
    <a href="public.pl.cgi?uid=<TMPL_VAR NAME="userid">"> View Public Files </a>|
    
    <a href="search.pl.cgi?uid=<TMPL_VAR NAME="userid">"> Search Files </a>|
    
    <a href="index.html"> Logout </a>
    </form>
    
    </p>
    <h3> File Stastistics </h3>
    
    <p> <strong> Your File Count : </strong> <TMPL_VAR NAME="userfilecount">
    <p> <strong> Your Average File Size : </strong> <TMPL_VAR NAME="averagefilesize"> KB
    <p> <strong> Total Number of Site Users : </strong> <TMPL_VAR NAME="totalusers">
    
    <p> The Top 30 Words in this file are shown below </p> 
	<table border="0" align="center" cellpadding="2" cellspacing="4">
  <tr>
    <th>Word </th>
    <th>Word Count </th>
  </tr>
 

<!-- File Loop only-->  
<TMPL_LOOP NAME="list_loop">
    <tr >
        <td align="center">  <TMPL_VAR NAME="word">  </td> <!-- the word -->
        <td align="center">  <TMPL_VAR NAME="count"> </td> <!-- word count-->
    </tr>
</TMPL_LOOP>

</table>

	<br>
	<footer><p align="center">Docbox &copy 2011. All Rights Reserved.  </p></footer>
	 </body></html>