	<html>
	<head>
	<title> Email sent </title>
	<link href="../css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body align="center" bgcolor="orange"> 
<h2 align="center"> <font color=blue> <a href="index.html"> DocBox</u> </a></font></h2>
	<TMPL_IF NAME="passwordchange">
    <p>
    <strong> Password Reset: </strong><TMPL_VAR NAME="filename">
    </p> 
    <p>
    If the email address you supplied exists in our database, and matches the names you supplied, a password reset link will be mailed to that address shortly. Please click on the link to reset your password.
    </p>
    </TMPL_IF>
    
    <TMPL_IF NAME="passwordreset">
    <p>
    <strong> Password Reset: </strong><TMPL_VAR NAME="filename">
    </p> 
    <p>
    The Password Reset has completed successfully. You can now login with your new credentials.<br>
    </p>
    </TMPL_IF>
    
    <p>
    <a href="index.html"> Click here </a> to return to login page
    </p>
     
    
	<br>
	<footer><p align="center">Docbox &copy 2011. All Rights Reserved.  </p></footer>
	 </body></html>